<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJFYM_y3t6P5WXqYSWVFw4UAtaP_DLgUE</string>
	<key>GCM_SENDER_ID</key>
	<string>326811145913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fkrapp-3</string>
	<key>STORAGE_BUCKET</key>
	<string>fkrapp-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326811145913:ios:8b8d4e48ffd824ca2d2d68</string>
	<key>DATABASE_URL</key>
	<string>https://fkrapp-3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>